@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap");
h2 {
  color: #682c84;
  font-size: 14pt;
  font-family: "Poppins", sans-serif; }

h3 {
  color: #682c84;
  font-size: 12pt;
  font-family: "Poppins", sans-serif; }

h4 {
  font-size: 10pt;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

header nav {
  background-color: white; }
  header nav div a img {
    width: 30vw; }
  header nav div div ul li a {
    color: #682c84;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 12pt; }
  header nav div div ul li a:active {
    color: #ed3087; }

@media (min-width: 768px) {
  header nav div a img {
    width: 20vw; } }

@media (min-width: 1024px) {
  header nav div a img {
    width: 14vw; }
  header nav div div ul li a {
    border-bottom: 2px solid rgba(237, 48, 135, 0.6); } }

div div a img {
  width: 6vw; }

main section div div img {
  width: 26vw; }

main h2 {
  background-color: #ed3087; }

main section div div a img {
  width: 14vw; }

@media (min-width: 540px) {
  main section div div a img {
    width: 12vw; } }

@media (min-width: 768px) {
  div div a img {
    width: 4vw; }
  main section div div img {
    width: 16vw; }
  main section div div a img {
    width: 8vw; } }

@media (min-width: 1024px) {
  div div a img {
    width: 3vw; }
  main section div div img {
    width: 12vw; }
  main section div div a img {
    width: 6vw; }
  .main__aboutUs--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "div1 div1 div2" "video video div3" "video video div4"; }
  .div1Grid {
    grid-area: div1; }
  .div2Grid {
    grid-area: div2; }
  .div3Grid {
    grid-area: div3; }
  .div4Grid {
    grid-area: div4; }
  .videoGrid {
    grid-area: video; } }

@media (min-width: 1440px) {
  div div a img {
    width: 3vw; } }

footer {
  background-color: #545454;
  margin: 0; }
