@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap");
.tipografPoppins, h1, h2, h3 {
  color: #682c84;
  font-family: "Poppins", sans-serif; }

h2 {
  font-size: 14pt; }

h3 {
  font-size: 12pt; }

h4 {
  font-size: 10pt;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

header nav {
  background-color: white;
  box-shadow: 0px 3px 17px -7px rgba(0, 0, 0, 0.5); }
  header nav div a img {
    width: 30vw; }
  header nav div div ul li a {
    color: #682c84;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    text-decoration: none;
    padding: 4px; }
    header nav div div ul li a:hover {
      color: #00b2d8; }

@media (min-width: 768px) {
  header nav div a img {
    width: 20vw; } }

@media (min-width: 1024px) {
  header nav div a img {
    width: 12vw; }
  header nav div div ul li a {
    border-bottom: 1px solid #00b2d8; } }

div div a img {
  width: 6vw; }

main section div div img {
  width: 26vw; }

main h1, main h2 {
  background: linear-gradient(90deg, #ed3087 0%, #682c84 50%, #00b2d8 100%);
  color: #ffffff;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.6) inset; }

main h2 {
  border-radius: 20px; }

main section div div a img {
  width: 14vw; }

@media (min-width: 540px) {
  main section div div a img {
    width: 12vw; } }

@media (min-width: 768px) {
  div div a img {
    width: 4vw; }
  main section div div img {
    width: 16vw; }
  main section div div a img {
    width: 8vw; } }

@media (min-width: 1024px) {
  div div a img {
    width: 2.2vw; }
  main section div div img {
    width: 12vw; }
  main section div div a img {
    width: 4vw; }
  .main__aboutUs--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "div1 div1 div2" "video video div3" "video video div4"; }
  .div1Grid {
    grid-area: div1; }
  .div2Grid {
    grid-area: div2; }
  .div3Grid {
    grid-area: div3; }
  .div4Grid {
    grid-area: div4; }
  .videoGrid {
    grid-area: video; } }

@media (min-width: 1440px) {
  div div a img {
    width: 3vw; } }

.buttonFacu1 {
  background-color: transparent;
  border-radius: 0.6em;
  border: 1px solid #ed3087;
  color: #525151;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0.2em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 400ms; }
  .buttonFacu1:hover {
    color: #fff;
    background-color: #ed3087;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
    transform: translateY(-2.5px); }
  .buttonFacu1:active {
    box-shadow: none;
    transform: translateY(0); }

.buttonFacu2 {
  background-color: transparent;
  border-radius: 0.6em;
  border: 1px solid #ed3087;
  color: #525151;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0.2em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: all 400ms; }
  .buttonFacu2:hover {
    color: #fff;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
    transform: translateY(-2.5px); }
  .buttonFacu2:active {
    box-shadow: none;
    transform: translateY(0); }
  .buttonFacu2:hover {
    background: linear-gradient(90deg, #ed3087 0%, #682c84 50%, #00b2d8 100%); }

footer {
  background-color: #5f5f5f; }
