//Social media header ----------------------------------------
div {
    div {      
        a {
            img {
                width: 6vw;
            }
        }
    }
}

//Main --------------------------------------------------------------

//Icons information -----
main {
    section {
        div {
            div {
                img {
                    width: 26vw;  
                }
            }
        }
    }

    h1, h2 {
        background: linear-gradient(90deg,#ed3087 0%, #682c84 50%, #00b2d8 100%);
        color: map-get($map: $paleta, $key: 'text2');
        box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.6) inset;        
    }
    
    //Social media main -----
    section {
        div {
            div {
                a {
                    img {
                        width: 14vw;
                    }
                }
            }
        }
    }
}

//Media queries -----------------------------------------------------------------------
@media (min-width: 540px) {
    //Social media main -----
    main {
        section {
            div {
                div {
                    a {
                        img {
                            width: 12vw;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    //Social media header -----
    div {
        div {
            a {
                img {
                    width: 4vw;
                }
            }
        }
    } 
    
    //Icons information -----
    main {
        section {
            div {
                div {
                    img {
                        width: 16vw;  
                    }
                }
            }
        }
    }
    
    //Social media main -----
    main {
        section {
            div {
                div {
                    a {
                        img {
                            width: 8vw;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    //Social media header -----
    div {
        div {
            a {
                img {
                    width: 2.2vw;
                }
            }
        }
    }
    
    //Icons information -----
    main {
        section {
            div {
                div {
                    img {
                        width: 12vw;  
                    }
                }
            }
        }
    }

    //Social media main -----
    main {
        section {
            div {
                div {
                    a {
                        img {
                            width: 4vw;
                        }
                    }
                }
            }
        }
    }

    .main__aboutUs--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "div1 div1 div2"
        "video video div3"
        "video video div4";       
    }

    .div1Grid {
        grid-area: div1;
    }

    .div2Grid {
        grid-area: div2;
    }

    .div3Grid {
        grid-area: div3;
    }

    .div4Grid {
        grid-area: div4;
    }

    .videoGrid {
        grid-area: video;
    }
}

@media (min-width: 1440px) {
    //Social media header -----
    div {
        div {
            a {
                img {
                    width: 3vw;
                }
            }
        }
    }
}

.buttonFacu1 {
    @include button1;
}