@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

$fontPoppins: 'Poppins', sans-serif;
$fontLato: 'Lato', sans-serif;

h2 {
    color: $colorText;
    font-size: 14pt;
    font-family: $fontPoppins;
}

h3 {
    color: $colorText;
    font-size: 12pt;
    font-family: $fontPoppins;
}
h4 {
    font-size: 10pt;
    font-weight: 400;
    font-family: $fontLato;
}

p {
    font-family: $fontLato;
}