//Header -----------------------------------------------------------
header {
    nav {
        background-color: white;
        box-shadow: 0px 3px 17px -7px rgba(0,0,0,0.5);
        div {
            a {
                img {
                    width: 30vw;
                }
            }
        
            div {
                ul {
                    li { 
                        a {                       
                            color: map-get($map: $paleta, $key: 'text1');
                            font-weight: 500;
                            font-family: $fontPoppins;
                            font-size: 12pt;
                            text-decoration: none;
                            padding: 4px;
                            &:hover {
                                color: map-get($map: $paleta, $key: 'text3');
                            }
                        }
                    }
                }
            }
        }
    }
}

//Media queries ---------------------------------------------------------------

@media (min-width: 768px) {
    //Logo -----
    header {
        nav {
            div {
                a {
                    img {
                        width: 20vw;
                    }
                }
            }
        } 
    }

}

@media (min-width: 1024px) {
    //Logo -----
    header {
        nav {
            div {
                a {
                    img {
                        width: 12vw;
                    }
                }
            }
        } 
    }
    
    //Border style for li -----
    header {
        nav {
            div {
                div {
                    ul {
                        li {
                            a {
                            border-bottom: 1px solid #00b2d8;
                            }
                        }
                    }
                }
            }
        }
    }
}